:root{
    --primary-color: #ffffff;
    --secondary-color: #0D0DA3;
    --third-color: #000000
}
/* !base classes */
.h2--title{
    /* margin: 0 !important; */
    /* color: black; */
    font-size: 1.5rem;
}

.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center !important;
}
.gap-2{
    gap: 20px;
}

p{
    /* color: black !important; */
}

.btn--font-size{
    font-size: 1rem !important;
}


/* login */
.login_container{
    display: flex;
    height: 100vh;
}
.left-form{
    background-color: var(--secondary-color);
}
.right-form{
    flex-direction: column;
    padding: 2rem 1rem !important;
}
.left-form, .right-form{
    width: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.google-btn{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}

.google-btn:hover{
    background-color: rgba(0, 0, 0, 0.04) !important;
}


/* Sign up page */
.error{
    font-size: 0.8rem !important;
    color: rgb(233, 60, 60);
    padding: 0 !important;
    margin: 0 !important;
    margin-left: 0.3rem !important;
}

.formContainer{
    width: 70%;
    margin: 0 auto;
}

.MuiFormControl-root{
    margin: 0 !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.MuiLoadingButton-root {
    margin-left: 0 !important;
}

/* *************** select branch ****************** */
.add-branches{
    margin-top: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.select-branche{
    display: flex;
    gap: 20px;
    /* justify-content: space-between; */
}

/****************** super admin ********************  */
.add-school{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px dashed var(--secondary-color);
    /* border-style: ; */
    max-width: 250px;
    min-height: 300px;
}

.add-school p{
    font-weight: 600;
}

@media screen and (max-width: 900px) {
    .login_container{
        display: block;
    }
    .formContainer{
        width: 60%;
    }

    .left-form{
        display: none !important;
    }

    .right-form{
        display: block;
        width: 100% !important;
    }
}

@media screen and (max-width: 700px) {
    .flex-column{
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    .signup{
        padding: 50px 0 25px 25px !important;
        border-radius: 50px 50px 0 0 !important;
    }

    .login_container{
        display: block;
    }

    .formContainer{
        width: 100%;
    }

    .btn--font-size{
        font-size: 0.85rem !important;
    }
  }

